<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="<%= site_root%>css/style.css">
	<script type="text/javascript" src="<%= site_root%>bower_components/angular/angular.min.js"></script>
	<!-- installing fusioncharts  -->
	<script type="text/javascript" src="<%= site_root%>scripts/fc/fusioncharts.js"></script>
	<!-- installing fusioncharts  timeseries -->
	<!-- extension files -->
    <script type="text/javascript" src="<%= site_root%>scripts/fc/extensions/growth-analyser-es6.min.js"></script>
    <script type="text/javascript" src="<%= site_root%>scripts/fc/extensions/fcts-ext-dataaggregator-es6.js"></script>
    <script type="text/javascript" src="<%= site_root%>scripts/fc/extensions/standard-period-selector-es6.min.js"></script>
    <script type="text/javascript" src="<%= site_root%>scripts/fc/extensions/fcts-ext-daterange-es6.min.js"></script>
	<!-- installing fusioncharts zune theme -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
	<!-- installing fusioncharts angular plugin  -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts-angular/angular-fusioncharts.js"></script>
	<!-- a js file for angular operation -->
    <script type="text/javascript" src="<%= site_root%>webapp/app.js"></script>
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a href="/"><img src="<%= site_root%>images/logo-white.png" alt="FusionCharts - Data to delight... in minutes"/></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="content" ng-app='reviewapp' >
		<div class="container" ng-controller='reviewSection' ng-init="loadAllReviews('<%= site_root%>')">
			<div class="row">
				<div class="col-lg-12">
					<section >
						<div class="chart-wrapper" >
							<!-- <fusioncharts
								width="800"
								height="440"
								type="timeseries"
								dataformat="json"
								chartid ="mychart"
								datasource= {{data}}
							></fusioncharts> -->
							<div id="chart-container"></div>
						</div>
					</section>
					<section >
						<div class="review-section">
							<div class="review-form">
								<textarea name="" id="" cols="30" rows="5" ng-model="review"></textarea>
								<input type="submit" value="Post" class="btn btn-info btn-large clearfix" ng-click="postReview()">
							</div>
						</div>
						<div class="reviews">
							<ul>
								<li ng-repeat='unit in posts'>
									<div class="reviewer">
										<img src="" alt="" width="80" height="80" ng-src='<%= site_root%>images/{{ unit.avatar }}' >
										<div class="reviewer-name">{{ unit.name }}</div>
										<div class="review-date small">{{ unit.time }}</div>
										<div class="review-date small">{{ unit.date }}</div>
									</div>
									<div class="review-info">{{ unit.review }}
										<div class="attachment"><a  href="<%= site_root%>screenshots/{{ unit.ssid }}">screenshots.png</a></div>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-6"><p class="copyright small mt10">&copy; 2002-
				2016 InfoSoft Global Private Limited. <span>All Rights Reserved.</span></p></div>
				<div class="col-md-4  col-lg-6">
				<ul class="social-icon-holder">
					<li class="fc-blog-icon"><a href="http://www.fusioncharts.com/blog/" target="_blank" title="The FusionCharts Blog"><span>The FusionCharts Blog</span></a></li>
					<li class="facebook-icon"><a href="https://www.facebook.com/FusionCharts" target="_blank" title="Like us on Facebook"><span>Like us on Facebook</span></a></li>
					<li class="twitter-icon"><a href="https://twitter.com/FusionCharts" target="_blank" title="Follow us on Twitter"><span>Follow FusionCharts on Twitter</span></a></li>
					<li class="googleplus-icon"><a href="https://plus.google.com/+FusionCharts" target="_blank" title="Follow us on Google Plus"><span>Need Info</span></a></li>
				</ul>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript">
		function getRandomDates(len) {
            var day = 1,
                months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                year = 2015,
                month = 0,
                arr = [];

            for (i = 0; i < len; i++) {
                if (month === 11 && day === 31) {
                    year++;
                    month = 0;
                }
                if (day > 30 || (month === 1 && day === 28)) {
                    day = 1;
                    month++;
                }
                if (month > 11) {
                    month = 0;
                }



                dateStr = day + '-' + months[month] + '-' + year;
                arr.push(dateStr);
                day++;
            }
            return arr;
        }

        function getRandomSeries(len) {
            var arr = [];

            for (i = 0; i < len; i++) {
                arr.push(Math.floor(Math.random() * 10));
            }
            return arr;
        }

        function getRandomCandleSeries(len) {
            var arr = [],
                open,
                high,
                low,
                close;

            for (i = 0; i < len; i++) {
                open = Math.floor(Math.random() * 1000);
                close = Math.floor(Math.random() * 1000);
                high = Math.floor(Math.random() * 1000);
                low = Math.floor(Math.random() * 1000);

                arr.push([open, high, low, close]);
            }

            return arr;
        }
        var data1;

        var tsChart,
            width = 1100,
            height = 600;
        FusionCharts.ready(function() {
            tsChart = new FusionCharts({
                type: 'timeseries',
                'id': 'mychart',
                plottype: 'line',
                renderAt: 'chart-container',
                width: width,
                height: height,
                dataFormat: 'json',
                dataSource: {
                    chart: {
                        axes: [{
                            uid: 'aa',
                            x: {},
                            y: {}
                        }, {
                            uid: 'bb',
                            x: function(store) {
                                return store.getAxesByIndex(0).x;
                            },
                            y: {}
                        }],
                        datasets: [{
                            category: {
                                dateformat: "%e-%b-%Y",
                                data: getRandomDates(2000)
                            },
                            dataset: [{
                                uid: 'ds-1',
                                series: [{
                                        plot: {
                                            type: 'line'
                                        },
                                        name: "California",
                                        data: getRandomSeries(2000)
                                    },
                                    {
                                        plot: {
                                            type: 'line'
                                        },
                                        name: "Arizona",
                                        data: getRandomSeries(2000)
                                    }
                                ]
                            }]
                        }],
                        caption: [{
                            title: {
                                text: 'Business in USA',
                                style: {
                                    'font-size': 35,
                                    'font-family': 'MyriadPro',
                                    'fill': '#545454'
                                }
                            },
                            subtitle: {
                                text: 'State wise sales (USD in million)',
                                style: {
                                    'font-size': 25,
                                    'font-family': 'MyriadPro',
                                    'font-weight': 'Semibold',
                                    'fill': '#7B7B7B'
                                }
                            }
                        }],
                        legend: [{
                            preDrawHook: function() {},
                            layout: function (obj) {
                                return obj.inline;
                            }
                        }],
                        canvas: [{
                            uid: 'canvas-1',
                            axes: function(store) {
                                return store.getAxesByIndex(0);
                            },
                            dataset: function(store) {
                                return store.getDatasetsByIndex(0);
                            }
                        }]
                    }
                }

            })
            .render();
        });
	</script>
</body>
</html>
