<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="<%= site_root%>css/style.css">
	<script type="text/javascript" src="<%= site_root%>bower_components/angular/angular.min.js"></script>
	<!-- installing fusioncharts  -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts/fusioncharts.js"></script>
	<!-- installing fusioncharts zune theme -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
	<!-- installing fusioncharts angular plugin  -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts-angular/angular-fusioncharts.js"></script>
	<!-- a js file for angular operation -->
  <script type="text/javascript" src="<%= site_root%>webapp/app.chartsetup.js"></script>
</head>
<body>
	<!-- header template include -->
	<% include layouts/header.ejs %>
	<div class="content" ng-app='chartsetup' >
		<div class="container" ng-controller='chartsetupctrl' ng-init="register({site_root:'<%= site_root%>'})">
			<div class="row">
				<div class="col-lg-12">
					<section >
								<div>
									<label>Link name</label>
									<input type="text"  ng-model="link_name">
								</div>
							</section>
							<section >
								<div>
									<label>Content</label>
									<textarea  cols="30" rows="5" ng-model="bodyfile"></textarea>
								</div>
							</section>
							<section >
								<div>
									<input type="submit" >
									<input type="reset" ng-clik="setchart()">
								</div>
							</section>
				</div>
			</div>
		</div>
	</div>
	<!-- footer template include -->
	<% include layouts/footer.ejs %>
</body>
</html>
