<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="<%= site_root%>css/style.css">
	<script type="text/javascript" src="<%= site_root%>bower_components/angular/angular.min.js"></script>
	<!-- installing fusioncharts  -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts/fusioncharts.js"></script>
	<!-- installing fusioncharts zune theme -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
	<!-- installing fusioncharts angular plugin  -->
	<script type="text/javascript" src="<%= site_root%>bower_components/fusioncharts-angular/angular-fusioncharts.js"></script>
	<!-- a js file for angular operation -->
  <script type="text/javascript" src="<%= site_root%>webapp/app.chartsetup.js"></script>
</head>
<body>
	<!-- header template include -->
	<% include layouts/header.ejs %>
	<div class="content" ng-app='chartsetup' >
		<div class="container" ng-controller='chartsetupctrl' ng-init="register({site_root:'<%= site_root%>'})">
			<div class="row">
				<section >
					<div class="chart-wrapper" >
						<div id="chart-container"></div>
					</div>
				</section>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<nav>
						<h2>Other links</h2>
							<ul>
								<li ng-repeat='link in links'>
									<label ng-click=linkDetails($event) data-linkid="{{ link._id }}">{{ link.name }}</label>	
								</li>
							</ul>
					</nav>
				</div>
				<div class="col-lg-7">
					<section class="form-holder">
						<div class="fgroup">
							<label>Link name</label>
							<input type="text"  ng-model="link_name">
						</div>
						<div class="fgroup">
							<label>Description</label>
							<input type="text"  ng-model="link_description">
						</div>
						<div class="fgroup">
							<label>Chart type</label>
							<input type="text"  ng-model="link_type">
						</div>
						<div class="fgroup">
							<label>Content</label>
							<textarea  cols="25" rows="5" ng-model="link_content"></textarea>
						</div>
						<div class="fgroup">
							<label>Make it final</label>
							<input type="checkbox"  ng-model="link_check">
						</div>
					
						<div class="fgroup">
							<input type="submit" value="submit" ng-hide="btn_action" ng-click="setchart()"  class="btn btn-info">
							<input type="submit" value="update" ng-show="btn_action" ng-click=""  class="btn btn-info">
							<input type="reset" ng-click="reset()">
						</div>
					</section>
				</div>
				<div class="col-lg-3">
					<aside>
						<ul class="info-list">
							<li>Chartid must be `sampleChart`</li>
							<li>Chart container id/renderat must be `chart-container`</li>
						</ul>
					</aside>
				</div>
			</div>
		</div>
	</div>
	<!-- footer template include -->
	<% include layouts/footer.ejs %>
</body>
</html>
