<!DOCTYPE html>
<html>
<head>
	<title>Show Data panel: Fusioncharts - Review</title>
	<!-- head template inlude -->
	<%- include layouts/head.ejs %>
    <script type="text/javascript" src="<%= site_root%>webapp/app.showdata.js"></script>
    <script type="text/javascript" src="<%- site_root%>bower_components/clipboard/dist/clipboard.min.js"></script>
</head>
<body>
	<!-- header template include -->
	<% include layouts/header.ejs %>
	<div class="content" ng-app='showdata' >
		<div class="container" ng-controller='dataSection' ng-init='register("<%= site_root%>")'>
<!-- 		<div class="row">
		<div class="col-lg-2">
			<span>Filter By</span>
		</div>
		<div class="col-lg-10">
			<span>chart : </span>
			<select ng-change="filter()"  ng-model="selectChart" ng-options="chart.value as chart.value for chart in chartTypes">
				<option value=""></option>
			</select>
		</div>
	</div> -->
			<div class="row">
				<div class="col-lg-12">
					<section >
						<div class="data-wrapper" >
							<table class="table">
								<thead>
									<tr>
										<th class="name">Name</th>
										<th class="chart-type">Information</th>
										<th class="reviews">Review</th>
										<th class="screenshot">Screenshot</th>
										<th class="data">Data</th>
										<th class="data">Status</th>
									</tr>
								</thead>
								<tbody>
								<tr  ng-if="reviews.length === 0">
									<td ng-if="reviews.isReady" align="center" colspan="6">Please wait, data is loading</td>
									<td ng-if="!reviews.isReady" align="center" colspan="6">No data to display</td>	
								</tr>
									<tr  ng-if="reviews.length > 0" ng-repeat="unit in reviews">
										<td>{{ unit.name }}</td>
										<td>
											<div><strong>Width:</strong>{{ unit.width }}</div>
											<div><strong>Height:</strong>{{ unit.height }}</div>
											<div><strong>Build:</strong>{{ unit.build }}</div>
										</td>
										<td>{{ unit.review }}</td>
										<td><div ><a href="<%= site_root%>screenshots/{{ unit.ssid }}"><img width="120" height="130" ng-src="<%= site_root%>screenshots/{{ unit.ssid }}" alt="screenshots"/></a></div></td>
										<td><pre id="p{{$index}}"><code>{{ unit.data }}</code></pre><a href="#" data-clipboard-target="#p{{$index}}" class="copyjson">copyjson</a></td>
										<td>
										<img ng-src="<%= site_root%>images/icons/{{ unit.active ? 'green-flag.png' : 'shield.png' }}" ng-model="postimg" alt="" data-reviewid={{unit.id}} ng-click="updatePost($event);"></td>
									</tr>										
								</tbody>
							</table>
						</div>
					</section>
			
				</div>
			</div>
		</div>
	</div>
	<!-- footer template include -->
	<% include layouts/footer.ejs %>
</body>
<script type="text/javascript">
	new Clipboard('.copyjson');
</script>
</html>
